<article class="mt-3 pb-3 border-b border-gray-300">
    <!-- Skills -->
    <h2>Skills</h2>
    <p class="text-base font-light">Commonly used skills are highlighted.</p>
    <ul class="space-y-3">
        {{ range $item := .Site.Data.skills }}
        <li>
            <h4>{{ $item.name }} </h4>
            {{ $len := (len $item.details)}}
            <p class="leading-8">
                {{ range $index, $detail := $item.details }}
                {{if .special}}<span class="px-1.5 py-1 rounded-full bg-red-400">{{ end }}
                    {{ .name }}{{if .special}}</span>{{ end }}{{ if (lt $index (sub $len 2)) }}, {{ else if (eq
                $index (sub $len 2)) }}, and {{else}}.{{ end
                }} {{ end
                }} </p>
        </li>
        {{ end }}
    </ul>
</article>