<article class="mt-3 pb-3 border-b border-gray-300">
    <!-- Education -->
    <h2>Education</h2>
    <ul class="space-y-3">
        {{ range $item := .Site.Data.content.education }}
        <li>
            <div class="flex flex-col md:flex-row items-baseline">
                <h4 class="flex-auto">
                    {{ $item.degree }}
                    <span class="text-base font-light">{{ $item.GPA }}</span>
                </h4>
                <p class="text-base font-light">{{ $item.dates }}</p>
            </div>
            <p>{{ $item.institution }} <span class="text-base font-light">{{ $item.location }}</span></p>
        </li>
        {{ end }}
    </ul>
</article>