---
interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Yash Savani",
  description = "Academic website for Yash Savani."
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>

  <meta name="description" content={description}>
  <meta name="author" content="Yash Savani">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Lustria&display=swap"
    rel="stylesheet">

  <link rel="icon" type="image/x-icon" href="/favicon.ico">

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-P1NJDJ6RHK"></script>
  <script is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-P1NJDJ6RHK');
  </script>

  <link rel="stylesheet" href="/src/styles/global.css">
</head>

<body class="bg-gray-200 text-gray-700 font-lato text-lg px-4 min-h-screen flex flex-col">
  <slot />
</body>
</html>
